*, *::before, *::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

button {
    font-family: inherit; /* It doesn't inherit by default */
}

/* RESET ABOVE */

/*  */
/* Styling the Navigation bar */

/* Setting up the body */
.topbar {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 15px 64px;

    font-family: "Noto Sans", sans-serif;
}

/* Reset anchors */
.topbar a {
    text-decoration: none;
    color: inherit; /* inherit from parent */
}

/* Adjust the navigation links */
.links-wrapper {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 100px;
    gap: 12px
}

.top-link {
    white-space: nowrap;
}

/* Style the Buy Flowers anchor element */
#buy-flowers {
    background-color: #000000;
    border: 2px solid #383838;
    padding: 5px 25px;
    color: #acacac;
    font-weight: 300;
    border-radius: 12px;
}

/* Unique styling for the logo */
.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

/*  */
/* First Section - Hero */

/* Align elements */
.hero-section {
    background-color: #1F2937;
    padding: 64px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}

/* Generic style for links */
.link {
    color: #a7b8d8;
    font-size: 1.1em;
}

/* Prevent overflowing */
.hero-text {
    max-width: 640px;
    flex: 1 0 320px;
}

/* Resize the hero header */
.hero-text > .header {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
}

/* Style the subheader */
.hero-text > .subheader {
    font-size: 36px;
    color: #cccccc;
    margin-bottom: 16px;
}

/* Modify the paragraph */
.hero-text > .para {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0;
}

/* Makes the button look awesome */
.hero-text > .btn {
    margin: 16px 0;
    font-size: 18px;
    font-weight: 700;
    
    background-color: #3882F6;
    color: white;

    border: none;
    padding: 8px 48px;
    border-radius: 10px
}

/* Make the image and the credits stand alone */
.img-container {
    display: flex;
}

/* Give style to the image border */
.hero-img {
    border: 5px dotted #3882F6;
    border-radius: 45px;

    width: 400px;
    max-width: 100%;
    height: auto;

    flex: 0 3 auto;
}

/* Makes credits vertical by default */
.credits {
    font-size: 12px;
    align-self: center;
    writing-mode: vertical-lr;
    display: inline-block;
}

/* Unique styling to hero-header flower span */
#flower {
    background-color: #ffffff23;
    color: rgb(269, 169, 69);
    font-style: italic;
    margin-right: 4px;
}


/*  */
/* Second Section - Cards */

/* Basic declarations */
.card-section {
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 64px;
}

/* Style the 2nd section header */
.header-cards {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 5px;
}

/* Display the cards horizontally */
.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 64px;
    flex-wrap: wrap;
}

/* Have a little of margin preventing overlapping */
.card {
    margin: 12px;
    /* margin-right: auto; */
}

/* Make the text fit in the card */
.card-para {
    max-width: 200px;
    text-align: center;
}

/* Turn images into frames */
.card-img {
    border: 4px solid #545455;
    border-radius: 18px;
    object-fit: cover; /* Prevent stretching images */
}