*, *::before, *::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

/* RESET ABOVE */

/*  */
/* Styling the Navigation bar */

/* Setting up the body */
.topbar {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 15px 64px;
}

/* Reset anchors */
.topbar a {
    text-decoration: none;
    color: inherit; /* inherit from parent */
}

/* Adjust the navigation links */
.links-wrapper {
    width: 400px;
    display: flex;
    justify-content: space-between;
    
    margin-left: 100px;
    gap: 12px
}

/* Unique styling for the logo */
.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

/*  */
/* First Section - Hero */

/* Align elements */
.hero-section {
    background-color: #1F2937;
    padding: 64px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}

/* Prevent overflowing */
.hero-text {
    max-width: 640px;
}

/* Resize the hero header */
.hero-text > .header {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
}

/* Style the subheader */
.hero-text > .subheader {
    font-size: 36px;
    color: #cccccc;
    margin-bottom: 16px;
}

/* Modify the paragraph */
.hero-text > .para {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0;
}

/* Makes the button look awesome */
.hero-text > .btn {
    margin: 16px 0;
    font-size: 18px;
    font-weight: 700;
    
    background-color: #3882F6;
    color: white;

    border: none;
    padding: 8px 48px;
    border-radius: 10px
}

/* Unique styling to flower span */
#flower {
    background-color: #ffffff23;
    color: rgb(269, 169, 69);
    font-style: italic;
    margin-right: 4px;
}

/* Secret, shh!! */
.rickroll-link {
    color: #a7b8d8;
    font-size: 1.1em;
}